body {
    margin: 0;
    padding: 0;
    font-family: "Poppins-Regular", Helvetica;
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
}

.hero{
   height: 100%;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(12,1fr);
   grid-gap: 24px;
}

/* FOOTER */
.event-footer {
    background-color: #6040fe;
    color: #fff;
    padding: 50px 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    padding: 0 2%;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.newsletter-form {
    flex: 1;
}

.newsletter-form h2 {
    margin-bottom: 10px;
}

.newsletter-form form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.newsletter-form form button {
    background-color: #4833c1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.newsletter-form form button:hover {
    background-color: #6040fe;
}

.footer-bottom {
    padding-top: 20px;
    text-align: center;
    background-color: #4833c1;
    color: #fff;
    padding: 10px 0;
}
