/*************/
/* Au propre */
/*************/


/* Changer la couleur de l'icône hamburger en blanc en surchargeant les styles Bootstrap */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    width: 40px !important;
    height: 40px !important;
}



/* Section 1*/
.section1{
    padding-top: 2%;
    grid-column: 2/12;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accroche1 {
    height: auto;
    align-items: center;
    /*   padding-left: 10%;
    padding-right: 10%; */
    color: #ffffff;
    margin-top: 8%;
    margin-bottom: 7%;
    font-weight: 800;
    font-size: 6vw;
    text-align: center;
    letter-spacing: 0;
}

/* Barre de recherche */

.lb-exemple {
    position: relative;
    font-family: "Poppins-LightItalic", Helvetica;
    font-weight: 300;
    font-style: italic;
    color: white;
    font-size: 2vw;
    letter-spacing: 0;
}

.barre-de-recherche {
    position: relative;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 3px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}
.items{
    display: flex;
    flex-wrap: wrap;
}

.item{
    display: flex;
    margin: 20px;
    gap:  10px;
    flex-grow: 3;
}

.vertical-line{
    border-left: 2px solid #6040fe;
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
    top :50%;
    height: 20px;
  }

  @media (max-width: 780px) {
    .vertical-line {
        display: none;
    }
}

@media (max-width: 1162px) {
    .vertical-line:nth-last-child(2) {
        display: none;
    }
}

.lb-ville {
    position: relative;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    font-size: 19.3px;
    border: none;
    letter-spacing: 0;
    line-height: normal;
}

input{
    outline: none;
    color: #000000;
}

.i-ville {
    position: relative;
    width: 25px;
    height: 25px;
    object-fit: cover;
}


.lb-date {
    position: relative;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    font-size: 19.3px;
    border: none;
    letter-spacing: 0;
    line-height: normal;
}

.i-date {
    position: relative;
    width: 25px;
    height: 25px;
    object-fit: cover;
}


.lb-event {
    position: relative;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    font-size: 19.3px;
    border: none;
    text-decoration: none;
    letter-spacing: 0;
    line-height: normal;
}

.i-evenement {
    position: relative;
    width: 25px;
    height: 25px;
    object-fit: cover;
    color: #dbdbdb;
}

.btn_search
{
    text-decoration: none;
    background-color: #6040fe;
    color: #ffffff;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 20px;
    text-align: center;
    width: max-content;
    border: none;
    flex-grow: 3;
}

/* Catégories */



.catgorie {
    position: relative;
    grid-column: 2/12;
}

 .titre-cat-gorie {
    position: relative;
    width: 176px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    margin-bottom: 20px;
}

 .catgories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px 15px;
    margin-bottom: 60px;
}

.cat {
    position: relative;
    padding: 10px 60px;
    border-radius: 20px;
    background-color: #4093fe;
    color: #ffffff;
}

/* Suggestion d'événement */

.part_suggest{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 24px;
}

.suggestion {
    position: relative;
    grid-column: 2/12;
}

.titre-suggestion {
    position: relative;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    margin-top: 60px;
    margin-bottom: 60px;
}
.events{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    padding-bottom: 5%;
}

.event {
    position: relative;
    width: 100%;
    max-width: 578px;
    /* background-color: #a1a1a1; */
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}


.part1 {
    position: relative;
    width: 100%;
    height: 30vw;
    max-height: 256px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: center;
}

.categorie{
    z-index: 1;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(2px);
    color: #ffffff;
    background-color: #4092febb;
    padding: 1vw 3vw;
    border-radius: 10vw;
    position: absolute;
    top: 93%;
    left: 10%;
    font-size: 2vw;
}

.btn_join{
    color: #6040fe;
    background-color: #ffffff;
    border: 0.1vw solid #6040fe;
    text-decoration: none;
    font-weight: bold;
    padding: 1vw 3vw;
    font-size: 2vw;
    border-radius: 20vw;
    position: absolute;
    top: 20px;
    right: 20px;
}



.part2{
    z-index: -1;
    background-color: #fff;
    padding: 2vw 4vw;
}

.titre_event{
    margin-top: 8%;
    font-size: 4.5vw;
    font-weight: bold;
}

.adresse{
    font-size: 2.5vw;
}

.modalite{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3%;
    font-size: 2.8vw;
}

.txt_infos{
    font-size: 2.5vw;
}

.calendrier{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.places{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.part3{
    padding: 4vw 6vw;
    display: flex;
    gap: 10%;
    background-color: #fff;
    border-radius:0 0 20px 20px ;
}

.crea{
    font-size: 2.8vw;
}
.nom_crea{
    font-size: 2.5vw;
}

.icon {
    position: relative;
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}



/* Partie suggestion */

.part_suggest{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 24px;
}

.suggestion {
    position: relative;
    grid-column: 2/12;
}

#searchResults{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}


/* Bouton de retour au début de page */

.retourEnHaut{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 24px;
}

.btn-retour {
    position: relative;
    grid-column: 4/10;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 20px;
    background-color: #6040fe;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

/* Fenetre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.container-btn{
    display: flex;
    gap:15px;
}

.btn_modal{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}




/*  */
/*  */




/*************/
/* Au propre */
/*************/

/* Ajouter une taille de police maximale pour les grands écrans */
@media screen and (min-width: 600px) {
    .btn_join {
        font-size: 15px; /* Taille de la police maximale pour les grands écrans */
        padding: 10px 35px;
    }
    .categorie{
        font-size: 15px; /* Taille de la police maximale pour les grands écrans */
        padding: 10px 35px;
        border-radius: 10px;
    }
    .titre_event{
        font-size: 28px;
    }
    .adresse{
        font-size: 15px;
    }
    .modalite{
        font-size: 19px;
    }
    .txt_infos{
        font-size: 15px;
    }
    .part2{
        padding: 20px 40px;
    }
    .part3{
        padding: 20px 40px;
    }
    .crea{
        font-size: 19px;
    }
    .nom_crea{
        font-size: 15px;
    }
    .icon{
        width: 60px;
        height: 60px;
    }
    .accroche1 {
        font-size: 50px;
    }
    .lb-exemple{
        font-size: 19.3px;
    }
}