*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins-Regular", Helvetica;
}

body{
/*     background-color: #c9d6ff;
    background: linear-gradient(to right,rgba(240, 164, 255, 0.367), #6387ff89); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #fff;
    /* border-radius: 30px; */
    border-radius: 3vw;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.548); */
    position: relative;
    overflow: hidden;
    width: 100vw;
    max-width: 100%;
    min-height: 70vw;
}

.container p{
    /* font-size: 14px; */
    font-size: 2vw;
    /* line-height: 20px; */
    line-height: 2vw;
    letter-spacing: 0.3px;
    /* margin: 20px 0; */
    margin: 5% 0;
}


.container a{
    color: #33333387;
    /* font-size: 13px; */
    font-size: 2vw;
    text-decoration: none;
    /* margin: 10px 0 15px; */
    margin: 1vw 0 1.5vw;
}

.container button{
    background-color: #6040fe;
    color: #fff;
    /* font-size: 15px; */
    font-size: 1.5vw;
    /* padding: 10px 45px; */
    padding: 1vw 4.5vw;
    /* border: 1px solid transparent; */
    border: 0.1vw solid transparent;
    /* border-radius: 20px; */
    border-radius: 2vw;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    /* margin-top: 10px; */
    margin-top: 1vw;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;

}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 0 40px; */
    padding: 0 4vw;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    /* margin: 8px 0; */
    margin: 0.8vw 0;
    /* padding: 20px 25px; */
    padding: 2vw 2.5vw;
    /* font-size: 15px; */
    font-size: 1.5vw;
    /* border-radius: 20px; */
    border-radius: 2vw;
    width: 100%;
    outline: none;
}

#passwordStrength{
    /* font-size: 10px; */
    font-size: 1vw !important;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out; 
}

.form-container h1{
    margin-bottom: 7%;
    /* font-size: 30px; */
    font-size: 3vw;
    font-weight: bold;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    /* border-radius: 164px 65px 65px 100px; */
    border-radius: 16.4vw 6.5vw 6.5vw 10vw;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    /* border-radius: 65px 164px 100px 65px; */
    border-radius: 6.5vw 16.4vw 10vw 6.5vw;
}

.toggle{
    background-color: #6040fe;
    height: 100%;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transform: all 0.5s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3vw;
    /* padding: 0 30px; */
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}

.error{
    position: absolute;
    top: 3%;
    align-items: center;
    color: #ff0000;
    background-color: #ffc0c0;
    /* padding: 20px 25px; */
    padding: 2vw 2.5vw;
    /* border-radius: 20px; */
    border-radius: 2vw;
}

p.error{
    /* font-size: 16px; */
    font-size: 1.6vw;
}

.container h1{
    font-size: 3.2vw;
    /* font-size: 32px; */
}

.sign-up input{
    /* padding: 15px 25px; */
    padding: 1.5vw 2.5vw !important;
}

/* Ajouter une taille de police maximale pour les grands écrans */
@media screen and (min-width: 600px) {
    .container{
        min-height: 480px;
        width: 800px;
        border-radius: 30px;
    }
    .container p{
        font-size: 14px;
        line-height: 20px;
        margin: 20px 0;
    }
    .container a{
        font-size: 13px;
        margin: 10px 0 15px;
    }
    .container button{
        font-size: 15px;
        padding: 10px 45px;
        border: 1px solid transparent;
        border-radius: 20px;
        margin-top: 10px;
    }
    .container input{
        margin: 8px 0;
        padding: 20px 25px;
        font-size: 15px;
        border-radius: 20px;
    }
    .sign-up input{
        padding: 15px 25px !important;
    }
    #passwordStrength{
        font-size: 10px !important;
    }
    .form-container h1{
        font-size: 30px;
    }
    .toggle-container{
        border-radius: 164px 65px 65px 100px;
    }
    .container.active .toggle-container{
        border-radius: 65px 164px 100px 65px;
    }
    .toggle-panel{
        padding: 0 30px;
    }
    .error{
        padding: 20px 25px;
        border-radius: 20px;
    }
    p.error{
        font-size: 16px;
    }
    .container h1{
        font-size: 32px;
    }
}
