/*************/
/* Au propre */
/*************/

.fullscreen-nav-active .navbar-collapse {
    background-color: #fff;
  }
  
  .fullscreen-nav-active .close-menu {
    color: #6040fe;
  }

/* Section 1*/
.section1{
    padding-top: 2%;
    grid-column: 2/12;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.accroche1 {
    height: auto;
    align-items: center;
    /*   padding-left: 10%;
    padding-right: 10%; */
    color: black;
    margin-top: 8%;
    margin-bottom: 7%;
    font-weight: 800;
    font-size: 6vw;
    text-align: center;
    letter-spacing: 0;
}

.btns{
    position:relative;

}

.btn-consulter{
    padding: 2vw 4vw;
    border-radius: 20vw;
    font-size: 2vw;
    font-weight: bold;

    background-color: white;
    border: 0.1vw solid  #6040fe;
    color: #6040fe;
    margin-bottom: 1%;
    
}

.btn-creation{
    padding: 2vw 4vw;
    border-radius: 20vw;
    font-size: 2vw;
    font-weight: bold;

    background-color: #6040fe;
    border: 0.1vw solid  #6040fe;
    color: white;
    
}

/* Section 2*/
.section2{
    padding-top: 5%;
    padding-bottom: 5%;
    grid-column: 2/12;
}

.titre_evenement {
    position: relative;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: black;
    font-size: 30px;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.events{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    padding-bottom: 5%;
}

.event {
    position: relative;
    width: 100%;
    max-width: 578px;
    /* background-color: #a1a1a1; */
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.part1 {
    position: relative;
    width: 100%;
    height: 30vw;
    max-height: 256px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: center;
}

.categorie{
    z-index: 1;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(2px);
    color: #ffffff;
    background-color: #4092febb;
    padding: 1vw 3vw;
    border-radius: 10vw;
    position: absolute;
    top: 93%;
    left: 10%;
    font-size: 2vw;
}


.part2{
    z-index: -1;
    background-color: #fff;
    padding: 2vw 4vw;
}

.titre_event{
    margin-top: 8%;
    font-size: 4.5vw;
    font-weight: bold;
}

.adresse{
    font-size: 2.5vw;
}

.modalite{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3%;
    font-size: 2.8vw;
}

.fi-sr-invite-alt,.fi-sr-users{
    font-size: 4vw !important;
}

.txt_infos{
    font-size: 2.5vw;
}

.calendrier{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.places{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.part3{
    padding: 4vw 6vw;
    display: flex;
    gap: 10%;
    background-color: #fff;
    border-radius:0 0 20px 20px ;
}

.crea{
    font-size: 2.8vw;
}
.nom_crea{
    font-size: 2.5vw;
}

.part3_cree{
    padding-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    position: relative;
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.les_boutons{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap:10px;
}

.btn_qrcode{
    color: #6040fe;
    background-color: #ffffff;
    border: 0.1vw solid #6040fe;
    text-decoration: none;
    font-weight: bold;
    padding: 1vw 3vw;
    font-size: 2vw;
    border-radius: 20vw;
    cursor: pointer;
}

.fa-qrcode{
    font-size: 2vw;
}

.btn_quit{
    color: #ff0000;
    background-color: #ffffff;
    border: 0.1vw solid #ff0000;
    text-decoration: none;
    font-weight: bold;
    padding: 1vw 3vw;
    font-size: 2vw;
    border-radius: 20vw;
    cursor: pointer;
}

.btn_scan{
    color: #6040fe;
    background-color: #ffffff;
    border: 0.1vw solid #6040fe;
    text-decoration: none;
    font-weight: bold;
    padding: 1vw 3vw;
    font-size: 2vw;
    border-radius: 20vw;
    margin: 0;
    cursor: pointer;
}

.btn_modif{
    color: #66ff00;
    background-color: #ffffff;
    border: 0.1vw solid #66ff00;
    text-decoration: none;
    font-weight: bold;
    padding: 1vw 3vw;
    font-size: 2vw;
    border-radius: 20vw;
    cursor: pointer; 
}


.btn_supp{
    color: #ff0000;
    background-color: #ffffff;
    border: 0.1vw solid #ff0000;
    text-decoration: none;
    font-weight: bold;
    padding: 1vw 3vw;
    font-size: 2vw;
    border-radius: 20vw;
    cursor: pointer;
}



/* Fenetre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.container-btn{
    display: flex;
    gap:15px;
}

.btn_modal{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}



/* Fenetre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 8% auto 0;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

.modal-content-QRcode{
    background-color: #fefefe;
    margin: 8% auto 0;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#qrImage{
    width: 90%;
}

/*************/
/* Au propre */
/*************/

/* Ajouter une taille de police maximale pour les grands écrans */
@media screen and (min-width: 600px) {
    .btn_qrcode {
        font-size: 15px; /* Taille de la police maximale pour les grands écrans */
        padding: 10px 35px;
    }
    .fa-qrcode{
        font-size: 15px;
    }
    .btn_quit {
        font-size: 15px; /* Taille de la police maximale pour les grands écrans */
        padding: 10px 35px;
    }
    .btn-consulter {
        font-size: 19.3px; /* Taille de la police maximale pour les grands écrans */
        padding: 10px 35px;
    }
    .btn-creation {
        font-size: 19.3px; /* Taille de la police maximale pour les grands écrans */
        padding: 10px 35px;
    }
    .btn_supp {
        font-size: 15px; /* Taille de la police maximale pour les grands écrans */
        padding: 10px 35px;
    }
    .btn_modif {
        font-size: 15px; /* Taille de la police maximale pour les grands écrans */
        padding: 10px 35px;
    }
    .btn_supp {
        font-size: 15px; /* Taille de la police maximale pour les grands écrans */
        padding: 10px 35px;
    }
    .categorie{
        font-size: 15px; /* Taille de la police maximale pour les grands écrans */
        padding: 10px 35px;
        border-radius: 10px;
    }
    .titre_event{
        font-size: 28px;
    }
    .adresse{
        font-size: 15px;
    }
    .modalite{
        font-size: 19px;
    }
    .fi-sr-invite-alt,.fi-sr-users{
        font-size: 40px !important;
    }
    .txt_infos{
        font-size: 15px;
    }
    .part2{
        padding: 20px 40px;
    }
    .part3{
        padding: 20px 40px;
    }
    .crea{
        font-size: 19px;
    }
    .nom_crea{
        font-size: 15px;
    }
    .icon{
        width: 60px;
        height: 60px;
    }
    .accroche1 {
        font-size: 50px;
    }
    .lb-exemple{
        font-size: 19.3px;
    }
}